<!-- Contact -->

<section class="block" id="contact">
	<h2><i class="fi-megaphone"></i>Contact</h2>
	<div class="contact-wrapper">
		<p><strong>Phone</strong><br><i class="fi-telephone"></i>+ 61 2 4455 4136<br><i class="fi-mobile"></i>+ 61 438 667 822</p>
		<p><strong>Fax</strong><br><i class="fi-page"></i>+ 61 2 4455 4136</p>
		<p><strong>Email</strong><br><i class="fi-mail"></i><a href="mailto:ian@ianboydconsulting.com.au">ian@ianboydconsulting.com.au</a></p>
		<p><i class="fi-home"></i><strong>Address</strong><br>386 Croobyar Road<br>Croobyar NSW 2539<br>Australia</p>
	</div>
</section>
