<!-- Publications -->

<div id="publications">
	<h2><i class="fi-book"></i>Publications</h2>
    <ol>
      <li> Boyd IW, Wedd AG. Association of  trichlorotris(tetrahydro­furan)molybdenum(III) in solution. <em>Aust J Chem 1976; 29: 1829</em>.</li>
      <li>Boyd IW, Dance IG, Murray KS, Wedd AG. Mononuclear  oxo­thiolato compounds of molybdenum(V). <em>Aust  J Chem 1978; 31: 279</em>.</li>
      <li> Dance IG, Wedd AG, Boyd IW. The formation and  structure of the di-u-oxo-di[di(benzene thiolato)oxomolybdate(V)] dianion. <em>Aust J Chem 1978; 31: 519</em>.</li>
      <li> Boyd IW, Dance IG, Landers AE, Wedd AG. Triply  bridged binuclear thiolate complexes of oxomolybdenum(V). <em>Inorg Chem 1979; 18: 1875</em>.</li>
      <li> Bradbury JR, Hanson GR, Boyd IW, Gheller SF, Wedd  AG, Murray KS, Bond AM. Redox and electron spin resonance properties of  oxo-thiolato compounds of molybdenum(V). <em>Proceedings  of the Third Climax International Conference on the Chemistry and the Uses of  Molybdenum (Barry HF and Mitchell PCH - eds)</em>, Climax Molyb­denum Company,  Ann Arbor, Michigan, 1979; 300-309.</li>
      <li> Toms-Wood A, Boyd IW. <em>Chemistry 102B, assignments and tele­vision syllabus</em>. Stipes  Publishing Company, Urbana, Illinois, 1979.</li>
      <li> Boyd IW, Haight GP, Howlander NC. Molybdenum(IV)  compounds for mediation of electron transfer. 1. Synthesis, characteris­ation  and reactions of compounds containing molybdenum(IV) coordinated to  trihalostannate(II) ions. <em>Inorg Chem  1981; 20: 3115</em>.</li>
      <li> Boyd IW, Spence JT. Molybdenum(IV)-oxo complexes  with oxygen, nitrogen and sulfur ligands. Synthesis and electro­chemical  studies. <em>Inorg Chem 1982; 21: 1602</em>.</li>
      <li> Boyd IW, Wedd AG. Oxomolybdenum(V) complexes with  quinolin-8-olato, quinolin-8-thiolato and quinolin-8-aminato ligands. <em>Aust J Chem 1984; 37: 293</em>.</li>
      <li> Bennett MA, Boyd IW. Cyclooctyne complexes of  molybdenum and tungsten. 1. Mono­cyclooctyne complexes. <em>J Organometal Chem 1985; 290: 165-180</em>.</li>
      <li> Bennett MA, Boyd IW, Robertson GB, Wickramasinge  WA. Cyclo­octyne complexes of molybdenum and tungsten. 2. Cyclodimer­isation  complexes. Crystal and molecular structure of bis(hexa­methylene)cyclopentadienonecarbonylbis(dimethyldithiocarbamato)­tungsten(II). <em>J Organometal Chem 1985; 290: 181-197.</em></li>
      <li> Mathew TH, Boyd IW, Rohan AP. Hyponatraemia due to  the combination of hydro chlorothiazide and amiloride (Moduretic): Australian  spontaneous reports 1977-1988.<em> Med J Aust  1990; 152: 308-309.</em></li>
      <li> Boyd I. Erythromycin-induced hearing loss.<em> Lancet 1991; 337: 113.</em></li>
      <li> Boyd IW. Allopurinol-azathioprine interaction. <em>J Intern Med 1991; 229: 386</em>. </li>
      <li> Boyd I. Nocturnal cramps, quinine, and  thrombocytopenia. <em>Arch Int Med 1991; 151:  1021</em>.</li>
      <li> ADRAC. Eosinophilia-myalgia syndrome associated  with L-tryptophan use.<em> Med J Aust 1991;  154: 295.</em></li>
      <li> Fairley CK, Boyd I, Purcell P, McNeil J.  Flucloxacillin jaundice.<em> Lancet 1992;  339: 679</em>.</li>
      <li> Fairley CK, McNeil JJ, Desmond P, Smallwood R,  Young H, Forbes A, Purcell P, Boyd I. Risk factors for the development of  flucloxacillin associated jaundice. <em>BMJ  1993; 306: 233-35.</em>
      </li><li> Boyd IW, Purcell PM, Rohan AP. Adverse effects of  hypolipid­aemic agents on skeletal muscle (abstract). <em>Clin Exp Pharmacol Physiol 1992; Suppl 21: 7</em>.</li>
      <li> Boyd I. Captopril-induced taste disturbance. <em>Lancet 1993; 342: 304</em>.</li>
      <li> Boyd IW, Rohan AP. Chest pain with sumatriptan  (abstract). <em>Clin Exp Pharmacol Physiol  1993; Suppl 1: 9</em>.</li>
      <li> Boyd IW, Rohan AP. Urinary disorders associated  with cisapride. <em>Med J Aust 1994; 160:  579.</em></li>
      <li> Boyd IW. Gynaecomastia in association with calcium  antagonists. <em>Med J Aust 1994; 161: 328.</em></li>
      <li> Boyd IW, Rohan AP. Sumatriptan-induced chest pain.  Lancet <em>1994; 344: 1704-5</em>.</li>
      <li> Boyd IW. Urinary symptoms in association with  tiaprofenic acid (abstract).<em>Proc Aust Soc  Clin Exp Pharmacol Toxicol (Widdop RE, Ching MS - eds) 1994; 1: 12.</em></li>
      <li> England JDF, Walsh JC, Stewart P, Boyd I, Rohan A,  Halmagyi GM. Mitochondrial myopathy developing on treatment with the HMG CoA  reductase inhibitors - simvastatin and pravastatin, <em>Aust NZ J Med 1995; 25: 374</em></li>
      <li> Boyd I. Benign intracranial hypertension induced  by minocycline. <em>Current Therapeutics  1995; 36: 70-71</em>.</li>
      <li> Boyd IW. Hypertension with moclobemide. <em>Lancet 1995; 346: 1498</em>.</li>
      <li> Boyd IW. Angio-edema and ACE inhibitors. <em>Aust NZ J Med 1995; </em> <em>25:  746-747.</em> </li>
      <li> Boyd IW. Comment: HMG-CoA reductase  inhibitor-induced impotence. <em>Ann  Pharmacother 1996: 30: 1199.</em></li>
      <li> Boyd IW. Serum sickness-like reactions in  association with cefaclor (abstract).<em> Proc Aust Soc Clin Exp Pharmacol Toxicol (Ching MS, Widdop RE - eds) 1996; 3:  29.</em></li>
      <li> Boyd IW. Alendronate and oesophagitis - is it the  result of reflux? (abstract)<em> Proc Aust  Soc Clin Exp Pharmacol Toxicol (Loiacono RE, Widdop RE - eds) 1997; 4: 62.</em></li>
      <li> Boyd IW. Venlafaxine withdrawal reactions. <em>MJA 1998; 169: 91-2</em>.</li>
      <li> Boyd IW. Comment: hyponatraemia with venlafaxine. <em>Ann Pharmacother 1998; 32: 981</em>.</li>
      <li> Boyd IW. Cefaclor-associated serum sickness. <em>MJA 1998; 169: 443-4</em></li>
      <li> Boyd IW. Adverse drug reactions of dicloxacillin  versus flucloxacillin. (abstract) <em>Proc  Aust Soc Clin Exp Pharmacol Toxicol (Hodgson WC, Loiacono RE - eds) 1998; 5:  60.</em></li>
      <li> Boyd IW. Angiotensin receptor antagonists. <em>Aust Prescr 1999; 22: 53.</em></li>
      <li> Boyd IW. Postmarketing surveillance: strengths and  limitations. The flucloxacillin-dicloxacillin story. <em>MJA 1999; 171: 219.</em></li>
      <li> Boyd IW, Mathew TH, Thomas MC. COX-2 inhibitors  and renal failure: the triple whammy revisited. <em>MJA 2000; 173: 274.</em></li>
      <li> Buchbinder R, Forbes A, Kobben F, Boyd I, Snow RM,  McNeil JJ. Clinical features of tiaprofenic acid (Surgam) associated cystitis  and a study of risk factors for its development. <em>J Clin Epidemiol 2000; 53: 1013-9.</em></li>
      <li> Boyd IW. The role of Australian Adverse Drug  Reactions Committee (ADRAC) in monitoring drug safety (abstract). <em>Toxicology 2001; 164: 8.</em> </li>
      <li> Boyd IW. Comment: history of drug-induced  hepatitis and risk of amoxicillin/clavulanate-induced hepatotoxicity. <em>Ann Pharmacother 2001; 35: 1677.</em></li>
      <li> Savage R, Boyd I, Coulter D. Celecoxib: an adverse  reaction profile. <em>Proc Aust Soc Clin Exp  Pharmacol Toxicol 2001; 9: 51.</em></li>
      <li> Boyd IW. The role of Australian Adverse Drug  Reactions Committee (ADRAC) in monitoring drug safety. <em>Toxicology 2002; 181-182: 99-102</em></li>
      <li> Lawrence G, Menzies R, Burgess M, McIntyre P, Wood  N, Boyd I et al. Surveillance of adverse events following immunisation:  Australia. 2000-2002. <em>Commun Dis Intell</em> 2003; 27: 307-323.</li>
      <li> Lawrence G, Boyd I, McIntyre P, Isaacs D. Surveillance of adverse  events following immunisation: Australia. 2002-2003. <em>Commun Dis Intell</em> 2004; 28: 324-338.</li>
      <li> Lawrence G, Boyd I. Surveillance of adverse events  following immunisation for children aged less than 7 years, 1 January to 30  June, 2004. <em>Commun Dis Intell</em> 2004;  28: 490-492.</li>
      <li> Purcell PM, Boyd IW. Bisphosphonates and osteonecrosis  of the jaw. <em>MJA 2005; 182: 417-18. </em></li>
      <li> Boyd IW. Tramadol and seizures. <em>MJA 2005; 182: 595-96</em>.</li>
      <li> Isaacs D, Lawrence G, Boyd I, Ronaldson K, McEwen  J. Reporting of adverse events following immunization in Australia. <em>J Paediatr Child Health 2005; 41: 163-66.</em></li>
      <li> Fontana RJ, Shakil AO, Greenson JK, Boyd I, Lee  WM. Acute liver failure due to amoxicillin and amoxicillin/clavulanate. <em>Dig Dis Sci 2005; 50: 1785-90.</em></li>
      <li> Lawrence G, Boyd I, McIntyre P, Isaacs D. Surveillance of adverse  events following immunisation: Australia, 2004. <em>Commun Dis Intell</em> 2005;  29: 248-262, Erratum <em>Commun Dis Intell</em> 2005; 29: 416.</li>
      <li> Lawrence G, Boyd I. Supplementary report:  surveillance of adverse events following immunisation for children aged less  than 7 years in Australia, 1 January to 30 June, 2005. <em>Commun Dis Intell</em> 2005; 29: 413-416.</li>
      <li> Savage RL,  Highton J, Boyd IW, Chapman P. Pneumonitis associated with leflunomide: a  profile of New Zealand and Australian reports. <em>Int Med J 2006; 36: 162-69</em>.</li>
      <li> Boyd IW, McEwen  J, Calcino LJ. A study of codispensing with sodium alendronate in Australia. <em>Br J Clin Pharmacol 2006; 61: 470-71</em>.</li>
      <li> Boyd IW, Purcell PM. Osteonecrosis of the jaw with  bisphosphonates – a new association of major importance. <em>Drug Safety 2006; 29: 968</em> (abstract).</li>
      <li> Ronaldson KR, O’Shea JM, Boyd IW. Risk factors for rhabdomyolysis with  simvastatin and atorvastatin. <em>Drug Safety  2006; 29: 1061-67.</em></li>
      <li> Lawrence G, Boyd I, McIntyre P, Isaacs D. Annual  report: surveillance of adverse events following immunisation in Australia,  2005. <em>Commun Dis Intell</em> <em>2005; 30: 319-333.</em></li>
      <li> Ronaldson KR, Boyd IW. Risk factors for  rhabdomyolysis with simvastatin and atorvastatin. <em>Drug Safety 2006; 29: 1191-92.</em></li>
      <li> Boyd IW. Questions and answers: reporting adverse  reactions associated with Chinese herbal medicine. <em>Aust J Acupuncture Chinese Med 2006; 1: 17-18</em>.</li>
      <li> Lawrence G, Boyd I. Supplementary report:  surveillance of adverse events following immunisation for children aged less  than 7 years in Australia, 1 January to 30 June, 2006. <em>Commun Dis Intell</em> 2006; 30: 438-442.</li>
      <li> Pillans PI, Boyd IW. Toenails and agranulocytosis. <em>Int Med J 2007; 37: 572-75</em>.</li>
      <li> McEwen J, Boyd IW. National pharmacovigilance  centres and AEFIs – practical experience from Australia (abstract). <em>Drug Safety 2007; 30: 919-990.</em> </li>
      <li> Lawrence  G, Aratchige PE, Boyd I, McIntyre P, Isaacs D. Annual report on surveillance of  adverse events following immunisation in Australia, 2006. <em>Commun Dis Intell</em> <em>2007; 31:  269-282.</em></li>
      <li> Boyd IW, McEwen J, Calcino LJ, Zhang JY, Walsh RL.  Co-dispensing of contraindicated drugs with cisapride. <em>J Pharm Pract Res 2008; 38: 23-27.</em></li>
      <li> Edwards B,  Gounder M, McKoy J, Boyd I et al. Pharmacovigilance and reporting oversight in  US FDA fast-track process: bisphosphonates and osteonecrosis of the jaw. <em>Lancet  Oncology 2008;</em> <em>9: 1166-1172</em>.</li>
      <li> Boyd I. Mometasone and arrhythmia. WHO Pharm Newsletter 2012; 20-24.</li>
      <li>Boyd I, Friden S, Johansson J, Grabham A. Reports of arrhythmia in patients taking the non-systematic corticosteroid mometasone (abstract). <em>Drug Safety 2012; 35: 896-897.</em></li>
    </ol>
</div>
