<!-- Publications --> 
<section class="block" id="publications">
	<div class="content-wrapper"><div class="content-wrapper"><h2><!-- <i class="fi-book"></i> -->Publications</h2>
		<ol>
			<li>Boyd IW, Wedd AG. Association of trichlorotris(tetrahydro­furan)molybdenum(III) in solution. <em>Aust J Chem</em> 1976; 29: 1829.</li>
			<li>Boyd IW, Dance IG, Murray KS, Wedd AG. Mononuclear oxo­thiolato compounds of molybdenum(V). <em>Aust J Chem</em> 1978; 31: 279.</li>
			<li>Dance IG, Wedd AG, Boyd IW. The formation and structure of the di-u-oxo-di[di(benzene thiolato)oxomolybdate(V)] dianion. <em>Aust J Chem</em> 1978; 31: 519.</li>
			<li>Boyd IW, Dance IG, Landers AE, Wedd AG. Triply bridged binuclear thiolate complexes of oxomolybdenum(V). <em>Inorg Chem</em> 1979; 18: 1875.</li>
			<li>Bradbury JR, Hanson GR, Boyd IW, Gheller SF, Wedd AG, Murray KS, Bond AM. Redox and electron spin resonance properties of oxo-thiolato compounds of molybdenum(V). <em>Proceedings of the Third Climax International Conference on the Chemistry and the Uses of Molybdenum (Barry HF and Mitchell PCH - eds)</em>, Climax Molyb­denum Company, Ann Arbor, Michigan, 1979; 300-309.</li>
			<li>Toms-Wood A, Boyd IW. <em>Chemistry 102B, assignments and tele­vision syllabus</em>. Stipes Publishing Company, Urbana, Illinois, 1979.</li>
			<li>Boyd IW, Haight GP, Howlander NC. Molybdenum(IV) compounds for mediation of electron transfer. 1. Synthesis, characteris­ation and reactions of compounds containing molybdenum(IV) coordinated to trihalostannate(II) ions. <em>Inorg Chem</em> 1981; 20: 3115.</li>
			<li>Boyd IW, Spence JT. Molybdenum(IV)-oxo complexes with oxygen, nitrogen and sulfur ligands. Synthesis and electro­chemical studies. <em>Inorg Chem</em> 1982; 21: 1602.</li>
			<li>Boyd IW, Wedd AG. Oxomolybdenum(V) complexes with quinolin-8-olato, quinolin-8-thiolato and quinolin-8-aminato ligands. <em>Aust J Chem</em> 1984; 37: 293.</li>
			<li>Bennett MA, Boyd IW. Cyclooctyne complexes of molybdenum and tungsten. 1. Mono­cyclooctyne complexes. <em>J Organometal Chem</em> 1985; 290: 165-180.</li>
			<li>Bennett MA, Boyd IW, Robertson GB, Wickramasinge WA. Cyclo­octyne complexes of molybdenum and tungsten. 2. Cyclodimer­isation complexes. Crystal and molecular structure of bis(hexa­methylene)cyclopentadienonecarbonylbis(dimethyldithiocarbamato)­tungsten(II). <em>J Organometal Chem</em> 1985; 290: 181-197.</li>
			<li>Mathew TH, Boyd IW, Rohan AP. Hyponatraemia due to the combination of hydro chlorothiazide and amiloride (Moduretic): Australian spontaneous reports 1977-1988. <em>Med J Aust</em> 1990</em>; 152: 308-309.</li>
			<li>Boyd I. Erythromycin-induced hearing loss. <em>Lancet</em></em> 1991; 337: 113.</li>
			<li>Boyd IW. Allopurinol-azathioprine interaction. <em>J Intern Med</em> 1991; 229: 386</em>.</li>
			<li>Boyd I. Nocturnal cramps, quinine, and thrombocytopenia. <em>Arch Int Med</em> 1991; 151: 1021.</li>
			<li>ADRAC. Eosinophilia-myalgia syndrome associated with L-tryptophan use. <em>Med J Aust</em> 1991; 154: 295.</li>
			<li>Fairley CK, Boyd I, Purcell P, McNeil J. Flucloxacillin jaundice. <em>Lancet</em></em> 1992; 339: 679.</li>
			<li>Fairley CK, McNeil JJ, Desmond P, Smallwood R, Young H, Forbes A, Purcell P, Boyd I. Risk factors for the development of flucloxacillin associated jaundice. <em>BMJ</em> 1993; 306: 233-35.</em>
			</li><li>Boyd IW, Purcell PM, Rohan AP. Adverse effects of hypolipid­aemic agents on skeletal muscle (abstract). <em>Clin Exp Pharmacol Physiol</em> 1992; Suppl 21: 7.</li>
			<li>Boyd I. Captopril-induced taste disturbance. <em>Lancet</em> 1993; 342: 304.</li>
			<li>Boyd IW, Rohan AP. Chest pain with sumatriptan (abstract). <em>Clin Exp Pharmacol Physiol</em> 1993; Suppl 1: 9.</li>
			<li>Boyd IW, Rohan AP. Urinary disorders associated with cisapride. <em>Med J Aust</em> 1994; 160: 579.</li>
			<li>Boyd IW. Gynaecomastia in association with calcium antagonists. <em>Med J Aust</em> 1994; 161: 328.</li>
			<li>Boyd IW, Rohan AP. Sumatriptan-induced chest pain. <em>Lancet</em> 1994; 344: 1704-5.</li>
			<li>Boyd IW. Urinary symptoms in association with tiaprofenic acid (abstract).<em>Proc Aust Soc Clin Exp Pharmacol Toxicol (Widdop RE, Ching MS - eds)</em> 1994; 1: 12.</li>
			<li>England JDF, Walsh JC, Stewart P, Boyd I, Rohan A, Halmagyi GM. Mitochondrial myopathy developing on treatment with the HMG CoA reductase inhibitors - simvastatin and pravastatin, <em>Aust NZ J Med</em> 1995; 25: 374.</li>
			<li>Boyd I. Benign intracranial hypertension induced by minocycline. <em>Current Therapeutics</em> 1995; 36: 70-71.</li>
			<li>Boyd IW. Hypertension with moclobemide. <em>Lancet</em> 1995; 346: 1498.</li>
			<li>Boyd IW. Angio-edema and ACE inhibitors. <em>Aust NZ J Med</em> 1995; 25: 746-747.</li>
			<li>Boyd IW. Comment: HMG-CoA reductase inhibitor-induced impotence. <em>Ann Pharmacother</em> 1996: 30: 1199.</li>
			<li>Boyd IW. Serum sickness-like reactions in association with cefaclor (abstract). <em>Proc Aust Soc Clin Exp Pharmacol Toxicol (Ching MS, Widdop RE - eds)</em> 1996; 3: 29.</li>
			<li>Boyd IW. Alendronate and oesophagitis - is it the result of reflux? (abstract) <em>Proc Aust Soc Clin Exp Pharmacol Toxicol (Loiacono RE, Widdop RE - eds)</em> 1997; 4: 62.</li>
			<li>Boyd IW. Venlafaxine withdrawal reactions. <em>MJA</em> 1998; 169: 91-2.</li>
			<li>Boyd IW. Comment: hyponatraemia with venlafaxine. <em>Ann Pharmacother</em> 1998; 32: 981.</li>
			<li>Boyd IW. Cefaclor-associated serum sickness. <em>MJA</em> 1998; 169: 443-4.</li>
			<li>Boyd IW. Adverse drug reactions of dicloxacillin versus flucloxacillin (abstract). <em>Proc Aust Soc Clin Exp Pharmacol Toxicol (Hodgson WC, Loiacono RE - eds)</em> 1998; 5: 60.</li>
			<li>Boyd IW. Angiotensin receptor antagonists. <em>Aust Prescr</em> 1999; 22: 53.</li>
			<li>Boyd IW. Postmarketing surveillance: strengths and limitations. The flucloxacillin-dicloxacillin story. <em>MJA</em> 1999; 171: 219.</li>
			<li>Boyd IW, Mathew TH, Thomas MC. COX-2 inhibitors and renal failure: the triple whammy revisited. <em>MJA</em> 2000; 173: 274.</li>
			<li>Buchbinder R, Forbes A, Kobben F, Boyd I, Snow RM, McNeil JJ. Clinical features of tiaprofenic acid (Surgam) associated cystitis and a study of risk factors for its development. <em>J Clin Epidemiol</em> 2000; 53: 1013-9.</li>
			<li>Boyd IW. The role of Australian Adverse Drug Reactions Committee (ADRAC) in monitoring <em>Drug Safety</em> (abstract). <em>Toxicology</em> 2001; 164: 8.</li>
			<li>Boyd IW. Comment: history of drug-induced hepatitis and risk of amoxicillin/clavulanate-induced hepatotoxicity. <em>Ann Pharmacother</em> 2001; 35: 1677.</li>
			<li>Savage R, Boyd I, Coulter D. Celecoxib: an adverse reaction profile. <em>Proc Aust Soc Clin Exp Pharmacol Toxicol</em> 2001; 9: 51.</li>
			<li>Boyd IW. The role of Australian Adverse Drug Reactions Committee (ADRAC) in monitoring <em>Drug Safety</em>. <em>Toxicology</em> 2002; 181-182: 99-102.</li>
			<li>Lawrence G, Menzies R, Burgess M, McIntyre P, Wood N, Boyd I et al. Surveillance of adverse events following immunisation: Australia. 2000-2002. <em>Commun Dis Intell</em> 2003; 27: 307-323.</li>
			<li>Lawrence G, Boyd I, McIntyre P, Isaacs D. Surveillance of adverse events following immunisation: Australia. 2002-2003. <em>Commun Dis Intell</em> 2004; 28: 324-338.</li>
			<li>Lawrence G, Boyd I. Surveillance of adverse events following immunisation for children aged less than 7 years, 1 January to 30 June, 2004. <em>Commun Dis Intell</em> 2004; 28: 490-492.</li>
			<li>Purcell PM, Boyd IW. Bisphosphonates and osteonecrosis of the jaw. <em>MJA</em> 2005; 182: 417-18. .</li>
			<li>Boyd IW. Tramadol and seizures. <em>MJA</em> 2005; 182: 595-96.</li>
			<li>Isaacs D, Lawrence G, Boyd I, Ronaldson K, McEwen J. Reporting of adverse events following immunization in Australia. <em>J Paediatr Child Health</em> 2005; 41: 163-66.</li>
			<li>Fontana RJ, Shakil AO, Greenson JK, Boyd I, Lee WM. Acute liver failure due to amoxicillin and amoxicillin/clavulanate. <em>Dig Dis Sci</em> 2005; 50: 1785-90.</li>
			<li>Lawrence G, Boyd I, McIntyre P, Isaacs D. Surveillance of adverse events following immunisation: Australia, 2004. <em>Commun Dis Intell</em> 2005; 29: 248-262, Erratum <em>Commun Dis Intell</em> 2005; 29: 416.</li>
			<li>Darby J, Lynton-Moll C, Boyd I. Electronic submission of suspected adverse reactions to 
			drugs and vaccines [online]. In: Wise M, Grain H, Chu S (Eds). HIC 2005 and NINZ 2005: Proceedings. Brunswick East, Vic.: Health Informatics Society of Australia 2005: [303-308].</li>
			<li>Lawrence G, Boyd I. Supplementary report: surveillance of adverse events following immunisation for children aged less than 7 years in Australia, 1 January to 30 June, 2005. <em>Commun Dis Intell</em> 2005; 29: 413-416.</li>
			<li>Savage RL, Highton J, Boyd IW, Chapman P. Pneumonitis associated with leflunomide: a profile of New Zealand and Australian reports. <em>Int Med J</em> 2006; 36: 162-69.</li>
			<li>Boyd IW, McEwen J, Calcino LJ. A study of codispensing with sodium alendronate in Australia. <em>Br J Clin Pharmacol</em> 2006; 61: 470-71.</li> 
			<li>Boyd IW, Purcell PM. Osteonecrosis of the jaw with bisphosphonates – a new association of major importance. <em>Drug Safety</em> 2006; 29: 968 (abstract).</li>
			<li>Ronaldson KR, O’Shea JM, Boyd IW. Risk factors for rhabdomyolysis with simvastatin and atorvastatin. <em>Drug Safety</em> 2006; 29: 1061-67.</li>
			<li>Lawrence G, Boyd I, McIntyre P, Isaacs D. Annual report: surveillance of adverse events following immunisation in Australia, 2005. <em>Commun Dis Intell</em> 2005; 30: 319-333.</li>
			<li>Ronaldson KR, Boyd IW. Risk factors for rhabdomyolysis with simvastatin and atorvastatin. <em>Drug Safety</em> 2006; 29: 1191-92.</li> 
			<li>Boyd IW. Questions and answers: reporting adverse reactions associated with Chinese herbal medicine. <em>Aust J Acupuncture Chinese Med</em> 2006; 1: 17-18.</li>
			<li>Lawrence G, Boyd I. Supplementary report: surveillance of adverse events following immunisation for children aged less than 7 years in Australia, 1 January to 30 June, 2006. <em>Commun Dis Intell</em> 2006; 30: 438-442.</li>
			<li>Pillans PI, Boyd IW. Toenails and agranulocytosis. <em>Int Med J</em> 2007; 37: 572-75.</li>
			<li>McEwen J, Boyd IW. National pharmacovigilance centres and AEFIs – practical experience from Australia (abstract). <em>Drug Safety</em> 2007; 30: 919-990.</li>
			<li>Lawrence G, Aratchige PE, Boyd I, McIntyre P, Isaacs D. Annual report on surveillance of adverse events following immunisation in Australia, 2006. <em>Commun Dis Intell</em> 2007; 31: 269-282.</li> 
			<li>Boyd IW, McEwen J, Calcino LJ, Zhang JY, Walsh RL. Co-dispensing of contraindicated drugs with cisapride. <em>J Pharm Pract Res</em> 2008; 38: 23-27.</li>
			<li>Edwards B, Gounder M, McKoy J, Boyd I et al. Pharmacovigilance and reporting oversight in US FDA fast-track process: bisphosphonates and osteonecrosis of the jaw. <em>Lancet</em> Oncology</em> 2008; 9: 1166-1172.</li>
			<li>Boyd I. Mometasone and arrhythmia. <em>WHO Pharm Newsletter</em> 2012; 20-24.</li>
			<li>Boyd I, Friden S, Johansson J, Grabham A. Reports of arrhythmia in patients taking the non-systematic corticosteroid mometasone (abstract). <em>Drug Safety</em> 2012; 35: 896-897.</li>
			<li>Boyd I. Tapentadol and aggressive reaction. <em>WHO Pharm Newsletter</em> 2013; 4: 19-21.</li>
			<li>Boyd I. Tapentadol and delusion. <em>WHO Pharm Newsletter</em> 2013; 5: 23-25.</li>
			<li>Boyd I. Pazopanib and pericardial effusion. <em>WHO Pharm Newsletter</em> 2013; 6: 30-32.</li>
			<li>Boyd I. Parathyroid hormone and myocardial ischaemia. <em>WHO Pharm Newsletter</em> 2014; 1: 21-23.</li>
			<li>Boyd I. Vemurafenib and renal failure. <em>WHO Pharm Newsletter</em> 2014; 3: 23-27.</li>
			<li>Beckmann J, Hagemann U, Bahri P, Bate A, Boyd IW et al. Teaching pharmacovigilance: the WHO-ISoP core elements of a comprehensive modular curriculum. <em>Drug Safe</em> 2014; 37: 743-759.</li>  
			<li>Boyd I. Pamidronic acid and optic neuritis. <em>WHO Pharm Newsletter</em> 2014; 5: 18-20.</li>
			<li>Boyd I. Dronedarone and vision abnormal. <em>WHO Pharm Newsletter</em> 2014; 6: 28-32.</li>
			<li>Boyd I. Temsirolimus and cardiac infarction. <em>WHO Pharm Newsletter</em> 2015; 1: 29-33.</li>
			<li>Boyd I. Golimumab and migraine. <em>WHO Pharm Newsletter</em> 2015; 2: 27-30.</li>
			<li>Boyd I. Atomoxetine and dystonia in paediatric patients. <em>WHO Pharm Newsletter</em> 2015; 4: 20-23.</li>
			<li>Boyd I. Sartori D, Hult S. A signal based on spontaneous reports of atomoxetine and neutropenia in paediatric patients. <em>Drug Safe</em> 2015; 38: 990.</li>
			<li>Boyd I. Atomoxetine and neutropenia in paediatric patients. <em>WHO Pharm Newsletter</em> 2015; 6: 16-19.</li>
			<li>Boyd I. Deferasirox and pancreatitis in paediatric patients. <em>WHO Pharm Newsletter</em> 2015; 6: 20-23.</li>
			<li>Boyd I. Febuxostat and allergic vasculitis. <em>WHO Pharm Newsletter</em> 2016; 3: 23-27.</li>
			<li>Boyd I. Thiamazole and rhabdomyolysis. <em>WHO Pharm Newsletter</em> 2016; 4: 17-21.</li>
			<li>Boyd I. Denosumab and lichen planus. <em>WHO Pharm Newsletter</em> 2016; 6: 15-18.</li>
			<li>Boyd I. Denosumab and vasculitis. <em>WHO Pharm Newsletter</em> 2016; 6: 19-22.</li>
		</ol></div>
</div></section>
