<!-- Services -->

<section class="block" id="services">
	<div class="content-wrapper"><h2><i class="fi-widget"></i>Services</h2>
	<p>We can assist in all aspects of pharmacovigilance and drug safety including:</p>
	<div class="services-wrapper">
		<div class="service">
			<h3>Risk Management Plans (<abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Risk Management Plans">RMPs</abbr>)/Australian Specific Annexes (<abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Australian Specific Annexes">ASAs</abbr>)</h3>
			<p>We have many years of experience with the preparation of <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Risk Management Plans">RMPs</abbr> for Europe and Australia and are specialists in the preparation of <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Australian Specific Annexes">ASAs</abbr>. In addition, we can provide a Justification for not requiring an <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Australian Specific Annexe">ASA</abbr>/<abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Risk Management Plans">RMPs</abbr>.</p>
		</div>
		<div class="service">
			<h3>Compliance with <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Therapeutic Goods Administration">TGA</abbr> Guidelines</h3>
			<p>We can assist sponsors of therapeutic goods on compliance with <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Therapeutic Goods Administration">TGA</abbr> guidelines on pharmacovigilance. Services include advice on compliance, reporting to the <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Therapeutic Goods Administration">TGA</abbr>, adverse drug reaction collection and analysis, and provision of a Responsible Person for Pharmacovigilance. We are also expert in <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Adverse Drug Reaction">ADR</abbr> terminology and can provide <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Medical Dictionary for Regulatory activities">MedDRA</abbr>.</p>
		</div>
		<div class="service">
			<h3>Periodic Safety Update Reports (<abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Periodic Safety Update Reports">PSURs</abbr>)</h3>
			<p>Submission of <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Periodic Safety Update Reports">PSURs</abbr> is an essential aspect of pharmocovigilance and we can provide advice and expertise in the preparation or review of <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Periodic Safety Update Reports">PSURs</abbr>.</p>
        </div>
		<div class="service">
			<h3>Safety labelling/product information</h3>
			<p>Analysis and review of safety labelling in the product information or <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Summary of Product Characteristics">SmPC</abbr> of drugs is another essential aspect of pharmacovigilance and we can assist with the identification of safety issues and modifications to safety labelling to comply with <abbr data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Therapeutic Goods Administration">TGA</abbr> requirements.</p>
		</div>
		<div class="service">
			<h3>Other Pharmacovigilance Services</h3>
			<p>We can also provide advice on signal detection and evaluation, review of safety issues, pharmacovigilance training and pharmacovigilance inspections.</p>
		</div>
	</div>
</div></section>
